/Ambulatorio/build/
/Ambulatorio/baseDatos.properties
/Ambulatorio/manifest.mf
/Ambulatorio/nbproject/**
Ambulatorio/nbproject/private/private.properties
Ambulatorio/nbproject/private/private.properties
Ambulatorio/nbproject/private/private.properties
/PRUEBATREVINO/nbproject/private/
Ambulatorio/baseDatos.properties
Ambulatorio/baseDatos.properties
*.properties
Ambulatorio/baseDatos.properties
*.properties
/Ambulatorio/dist/
Ambulatorio/baseDatos.properties
Ambulatorio/baseDatos.properties
Ambulatorio/baseDatos.properties
